{% load static %}
{% include 'main.html' %}
<body class="  max-[500px]:h-[100vh] sm:m-14 sm:mb-0 bg-[#81D7F2] h-[100%] w-[100]">
    
    {% block content%}
        </div>

        <main>
           
                <figure class=" mt-9 pt-4 max-[500px]:w-
                100vw">
                    <img class="border rounded w-[100%] h-[40vh] z-50" src="{% static 'library-book-bookshelf-read.jpg'%}" alt="Background_Image">
                    
                </figure>
                <div class="flex max-[500px]:justify-center">     
                <figure class="  -mt-24 ml-9">
                    <img class="  border rounded-full w-52 h-52 z-10 " src="{% static 'doc_2.jpg'%}" alt="doc_1" width="60px" height="40px">
                    <figcaption class="text-center m-4 text-2xl font-bold">{{ doctor.name }} <br><span class="opacity-70 text-xl font-medium">{{ doctor.designation }} </span></figcaption>
                </figure>
            
        

                <div class="doctors discription max-[500px]:hidden sm:block">
                    <ul class="flex m-16 justify-between gap-28 text-lg ml-44 font-semibold  sm:flex-row">
                        <li>100+<span class=" opacity-70"><br>Treatments</span></li>
                        <li>5 yr+<span class="opacity-70"><br>Experience</span></li>
                        <li>Doctor ID<span class=" opacity-70"><br>#49991</span></li>
                        <li class="flex space-x-4"><div><img src="{% static 'verified.png' %}" alt="" width="45px" height="45px" class="mt-1"></div><div>Licence<span class="opacity-70"><br>Verified</span></div></li>
                    </ul>
                </div>
            </div>
    </main>

    <section class="Boxes flex max-[500px]:flex-col sm:flex-row">
        <div class="bg-white min-[100px]:bg- h-72 rounded-3xl m-3 mt-7 sm:w-[28vw] max-[500px]:w-[80vw] max-[500px]:ml-10 sm:m-auto">

            <h3 class="font-bold p-7 pl-10 text-xl  ">Personal Details</h3>
    
            <p class="p-3 pl-14 flex"><img src="{% static 'phone-call.png' %}" alt="" width="20px " class="mr-7">{{ doctor.phonenumber }} </p>
            <p class="p-3 pl-14 flex"><img src="{% static 'email.png' %}" alt="" width="20px " class="mr-7">{{ doctor.emailid }} </p>
            <p class="p-3 pl-14 flex"><img src="{% static 'home.png' %}" alt="" width="20px " height="10px" class="mr-7">{{ doctor.address }}  </p>
        
        </div>

        <div class="bg-white sm:h-80 rounded-3xl m-12 sm:-mt-16 sm:w-[56vw] mb-20 max-[500px]:w-[80vw] max-[500px]:m-10 sm:m-auto max-[500px]:h-96">
            <div class="flex">
            <h3 class="font-bold p-7 pl-10 text-xl ">Education</h3>
            <figure class="w-5 ml-[31rem] -mr-3 pt-7"><img src="{% static 'plus.png' %}" alt=""></figure>
            <figure class="w-5  ml-9 pt-7"><img src="{% static 'edit.png' %}" alt=""></figure>
            </div>
            
            <p class=" pl-14 flex font-semibold"><img src="{% static 'aiims.png' %}" alt="" width="40px" class="mr-7">AIIMS DELHI</p>
            <p class="-mt-5 pl-[7.7rem] text-sm">
                MS. Obsetrician & Gynecologist<br><span class="opacity-75"> May 2021 - May 2023<br></span>Grade A</p>
            
            <p class="mt-6 pl-14 flex font-semibold"><img src="{% static 'aiims patna.webp'%}" alt="" width="40px" class="mr-7">AIIMS PATNA</p>
            <p class="-mt-4 pl-[7.7rem] text-sm">
                Bachelor of Medicine, Bachelor of Surgery<br><span class="opacity-75"> May 2016 - May 2021<br></span>Grade A</p>

        </div>

    </section>
    <section class="relative ">
    <div class="bg-white flex h-12 w-72 -m-6 rounded-xl max-[500px]:ml-12 max-[500px]:mt-2 sm:ml-[43rem]"><p class="ml-9 mt-3">Search for individuals</p><div class="rounded-full ml-12 mt-2 -mr-16 w-9 h-9 bg-blue-700"><img src="{% static 'search-symbol.png' %}" alt="" class="w-5 m-2"></div></div>
    </section>
    <footer class="mt-16 float-endbottom-0 w-[100%]">
        <div class="bg-blue-700 w-full h-9"></div>
    </footer>
    {% endblock %}
</body>
