{% load static %}
{% include 'main.html' %}
<body class="m-8 sm:m-14  bg-[#81D7F2] h-[100%] w-[100]">

    {% block content%}
        <div class="w-[80vw] sm:w-[30vw] bg-gradient-to-br from-[#24CBC8]  to-[#0066ffad] h-[9vh] mt-9 rounded-3xl rounded-tr-none flex p-8 items-center text-white text-xl font-semibold">
            Electronic Record System
        </div>

        <section class="hero flex  flex-   col sm:flex-row justify-center ">
            <figure class="align-it">
                {% if request.path == "/individual/Nupur/" %}
                <img src="{% static 'nupur.jpeg' %}" alt="Patient" class="rounded-2xl mt-9 w-[80%] h-[30vh] m-6">
                {% elif request.path == "/individual/Parth/" %}
                <img src="{% static 'parth.webp' %}" alt="Parth" class="rounded-2xl mt-9 w-[80%] h-[30vh] m-6">
                {% else %}
                <img src="{% static 'patient.jpg' %}" alt="Naman Punn" class="rounded-2xl mt-9 w-[80%] h-[30vh] m-6">
                {% endif %}

            </figure>
            <div class="w-[80vw] bg-gradient-to-br from-[#24CBC8]  to-[#0066ffad] h-[30vh] mt-9 rounded-3xl flex text-2xl text-white  gap-8">
                <ul class="my-8 mx-8 flex flex-col justify-between">
                    <li>Name :</li>
                    <li>Gender :</li>
                    <li>Age :</li>
                    <li>DOB :</li>
                </ul>
                <ul class="my-8 flex flex-col justify-between">
                    <li> {{individual.name }} </li>
                    <li>{{individual.gender}}</li>
                    <li>{{individual.age}}</li>
                    <li>{{individual.DOB}}</li>
                </ul>


            </div>
        </section>

        <section class="Treatment">
            <div class="bg-white w-[40vw] h-[7vh] my-8 flex items-center px-8 rounded-2xl rounded-tr-none sm:w-[15vw] font-semibold">Treatment's</div>

            <div class="buttons flex cursor-pointer">
                <div class="w-[50vw] z-10 bg-gradient-to-br from-[#24CBC8]  to-[#0066ffad] h-[8vh] rounded-l-3xl justify-center text-xl font-bold items-center flex">Surgeries</div>
                <div class="w-[50vw] z-0 bg-white h-[8vh] rounded-r-3xl justify-center text-xl font-bold items-center flex ">Medicinal</div>
            </div>
                
            <div class="w-[100%] z-10 bg-gradient-to-br from-[#24CBC8]  to-[#0066ffad] h-[8vh] rounded-t-3xl mt-8 ">
                <ul class="flex justify-evenly text-xl p-5 sm:p-3">
                    <li class="mr-9">Date</li>
                    <li>|</li>
                    <li>Hospital</li>
                    <li>|</li>
                    <li>Surgery</li>
                    
                </ul>
            </div>
            <div class="w-[100%] bg-white h-[8vh] "><ul class="flex justify-between sm:justify-evenly sm:gap-48 text-base p-5">
                <li>11/02/1983</li>
                <li class="">Heart</li>
                <li class="ml-8 mr-3">AIIMS</li>
            </ul></div>
            <div class="w-[100%] bg-white h-[8vh]  "><ul class="flex justify-between text-base p-5 sm:justify-evenly sm:gap-48">
                <li>06/02/2004</li>
                <li>Leg</li>
                <li class="ml-8 mr-3">Fortis</li>
            </ul></div>
            <div class="w-[100%] bg-white h-[8vh] rounded-b-3xl "><ul class="flex justify-between  text-base p-5 sm:justify-evenly sm:gap-48">
                <li>19/07/2021</li>
                <li>Intestine</li>
                <li class="ml-8 mr-3">Max</li>
            </ul></div>
        </section>
    {% endblock %}
    </body>
