{% load static %}
{% include 'main.html' %}
<body class="bg-[#81D7F2]">
    {% block content %}
    <hr>
        <div class="container mx-auto mt-8 p-8 max-w-md bg-white shadow-md rounded-md">
        <form method="post" action="{% url 'login' %}?next={{ next_url }}" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="username" class="block font-medium">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" class="mt-1 px-4 py-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
            </div>
            <div>
                <label for="password" class="block font-medium">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" class="mt-1 px-4 py-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
            </div>
            <div>
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50">Login</button>
            </div>
            <!-- Display error messages -->
            {% if messages %}
                <div class="text-red-600">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        </div>
        <div class="container mx-auto mt-8 p-8 max-w-md bg-white shadow-md rounded-md">
        
        <p class="mt-2">Haven't signed up yet? <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-700">Sign Up</a></p>
        </div>
   {% endblock %}
</body>

