{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHR</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{% static 'EHR.png'%}">
</head>
<body class="bg-[#56ccf0]">

    {% block content %}
    <nav class="flex sm:mx-20 items-center justify-between mb-8 mt-7">
        <div class="order-first  ">
        <h3 class="font-bold text-4xl ml-0"><a href="#">EHR</a></h3>
        </div>

        <div class="order-2 cursor-pointer  ">
            <ul class="absolute md:flex inset-0 -translate-x-[26rem]  md:translate-x-0  md:static md:gap-14 text-xl ">
                <li class="hover:border-b-2 hover:border-blue-700 hover:text-blue-700 hover:font-medium"><a href="{% url 'home'%}">Home</a></li>
                <li class="hover:border-b-2 hover:border-blue-700 hover:text-blue-700 hover:font-medium"><a href="{% url 'doctor' pk=user.id%}">Doctor</a></li>
                {% if user.username == True %}
                <li class="hover:border-b-2 hover:border-blue-700 hover:text-blue-700 hover:font-medium"><a href="{% url 'individual' name=user.username|capfirst  %}">Individual</a></li>
                {%else%}
                <li class="hover:border-b-2 hover:border-blue-700 hover:text-blue-700 hover:font-medium"><a href="{% url 'notexist'%}">Individual</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="min-[700px]:flex justify-evenly order-3 hidden min-[700px]:visible md:gap-5">
            {% if request.user.is_authenticated %}
            <a type="submit" href="{%url 'logout'%}" class="rounded-3xl px-4 py-1 text-white bg-[#0066FF]  border-blue-700 hover:bg-blue-800">Log out</a> 
            {%else%}
            <a type="submit" href="{%url 'login'%}" class="rounded-3xl px-4 py-1 hover:bg-[#0066FF] hover:text-white border-2 border-blue-700">Log in</a> 
            <a type="submit" href="{%url 'register' %}" class="rounded-3xl px-4 py-1 text-white bg-[#0066FF]  border-blue-700 hover:bg-blue-800">Sign up</a>
            {%endif%}
        </div>
        
        <div class="flex flex-col order-last cursor-pointer md:hidden ">
            <div class="bg-black h-1 w-6 rounded-xl m-0.5 "></div>
            <div class="bg-black h-1 w-6 rounded-xl  m-0.5"></div>
            <div class="bg-black h-1 w-6 rounded-xl  m-0.5"></div>
        </div>
    </nav> <hr>

    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-4">Individual not found</h1>
        <p class="text-xl mb-8">The individual you are looking for does not exist.</p>
        <a href="{% url 'home' %}" class="px-4 py-2 bg-blue-500 text-white rounded">Go back to home</a>
      </div>
      {% endblock %}
</body>
</html>

