{% block content %}
<div class="container my-3">
    <h2>Search results:</h2>
    {% for individual in allPosts %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Individual: {{ individual.name }}</strong>
            <!-- Add link to individual profile page -->
            <div class="my-2">
                <a href="{% url 'individual_profile' pk=individual.pk %}" role="button" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <!-- You can add an image here if available -->
            <!-- Example: <img src="{{ individual.profile_image.url }}" class="img-fluid" alt="{{ individual.name }}"> -->
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
